html {
  height: 100%;
  margin: 0;
  background-image: url('./img/castle.jpg');
  overflow: hidden;


}


body {
  /* height: 100; */
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: pink; */
  background-image: url('./img/dragon/dragon.png');

  /* background-image: url('./img/castle.jpg'); */
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
